{% load static %}
<!--<!DOCTYPE html>
<html>
	<title>MoodyBeats</title>
	<link rel="stylesheet" href="https://unpkg.com/picnic">
	<body>

	</body>
</html>-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>


	<title>{% block title %}MoodiBeats{% endblock title %}</title>

<style>
  .back-to-top i {
 
  font-size: 50px;
 
}

h3 {
  color:#777777;
}

</style>

<link rel="icon" type="image/png" href="{% static 'rest_framework_swagger/logo_small.png' %}" />

{% block stylesheet %}{% endblock %}
</head>
<body>
<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          	</button>
			<a class="navbar-brand" href="{% url 'home' %}"><h3><span style='color:#20DADA;'>MoodiBeats API</span></h3></a>
		</div>

		<div class="collapse navbar-collapse navbar-default" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'home' %}">HOME</a></li>
				<li><a href="https://sammylee1.typeform.com/to/E8EJms">SUBSCRIBE</a></li>
				
				<li><a href="{% url 'song:song' %}">RECOMMENDATIONS</a></li>
				<li><a href="{% url 'api:api' %}">API</a></li>
	
			</ul>
		</div>
	</div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div clas="navbar-header">
  <a class="navbar-brand" href="{% url 'home' %}">MoodiBeats API</a>
  		</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!--<ul class="navbar-nav">-->
      <ul class="nav navbar-nav ml-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">HOME</a><span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{{ 'http://moody-beats-recommender-api.herokuapp.com/swagger-docs/' }}">Swagger Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'terms' %}">Terms of Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new-video' %}">New Music</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'song:song' %}">Recommendations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ user.username }}</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
      </li>
      {% endif %}
      <!--<li class="nav-item">
        <a class="nav-link" href="{% url 'api:api' %}">API</a>
      </li>-->
    </ul>
  </div>
</nav>
{% if messages %}
  <div class='alert alert-warning'>
    <div class='container'>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    </div>
  </div>
{% endif %}

{% block content %}
{% endblock content %}

 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


<div class="container">
  <hr>
  <footer>
    <p>&copy; 2019 MoodiBeats API, LLC</p>
  </footer>
</div>

<script>
 
jQuery(document).ready(function() {
 
var offset = 250;
 
var duration = 300;
 
jQuery(window).scroll(function() {
 
if (jQuery(this).scrollTop() > offset) {
 
jQuery(‘.back-to-top’).fadeIn(duration);
 
} else {
 
jQuery(‘.back-to-top’).fadeOut(duration);
 
}
 
});
 
 
 
jQuery(‘.back-to-top’).click(function(event) {
 
event.preventDefault();
 
jQuery(‘html, body’).animate({scrollTop: 0}, duration);
 
return false;
 
})
 
});
 
</script>

<a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-arrow-circle-up"></i></a>



 </body>
</html>





