{% extends "songs/base.html" %}


{% block content %}

	<div class="container center-div">
	{% include "songs/search_form.html" %}
	</div>
<div class="col-sm-6 col-sm-offset-3">
	
<h1>MoodiBeats API</h1>


{% for song in object_list %}

<p></p>
<h3>Artist & Song:  {{ song.songs }}</h3>
{% if song.song_embed_code %}
{{ song.song_embed_code|safe }}<br/>
{% endif %}

<h3><a href="{% url 'song:detail' slug=song.slug %}" class="btn btn-primary" role="button">Recommendations for {{ song.songs }}</a></h3>
<!--<h3><a href="{{ artist.get_absolute_url }}" class="btn btn-primary" role="button">Check out {{ song.songs }}</a></h3>-->

<br/>

{% endfor %}

</div>
{% endblock content %}




