{% load crispy_forms_tags %}

<form method='GET' action='{% url "new-video" %}'>
	<div class='input-group'>
	<input class="form-control" type='text' size="40" name='q' placeholder='Search songs' value='{{ request.GET.q }}'/>
	<span class='input-group-btn'>
    <!--<input class='btn btn-default' type='submit' value='Search'/>-->
    <button class='btn btn-primary' type='submit'><i class="fa fa-search"></i></button>
    </span>
	{{ form|crispy }}
	</div>
</form>





<!--<input type='Submit' class="btn btn-primary" role="button" />-->